In [12]:
import pandas as pd
import numpy as np

In [3]:
domestic_consumption = pd.read_csv('Coffee_domestic_consumption.csv')
coffee_export = pd.read_csv('Coffee_export.csv')

#This csv needs change the values of Belgium and Luxembourg
coffee_import = pd.read_csv('Coffee_import.csv')
coffee_re_export = pd.read_csv('Coffee_re_export.csv')
coffee_importes_consumption = pd.read_csv('Coffee_importers_consumption.csv')

In [4]:
coffee_export.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_export
0,Angola,5040000,4260000,4800000,2340000,480000,2460000,3120000,3000000,3240000,...,480000,480000,360000,540000,660000,660000,540000,540000,1380000,43320000
1,Bolivia (Plurinational State of),9360000,4440000,5760000,2820000,5040000,5640000,7380000,6660000,5820000,...,4440000,3780000,3300000,3720000,1800000,1320000,1560000,1320000,1200000,137460000
2,Brazil,1016160000,1270980000,1127460000,1070280000,1036380000,868080000,915060000,1008060000,1088640000,...,2028360000,1712940000,1899060000,-2147483648,-2147483648,2056140000,1855500000,2138220000,-2147483648,33807709056
3,Burundi,35100000,41280000,38760000,25080000,30480000,31680000,13440000,31740000,22440000,...,13080000,23520000,11700000,15120000,13800000,12240000,10140000,12120000,17580000,646200000
4,Cameroon,156660000,105120000,98760000,42300000,32760000,24420000,33840000,82080000,44760000,...,29400000,37320000,16320000,22500000,23400000,16860000,14700000,17220000,15000000,1399920000

In [5]:
coffee_import.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_import
0,Austria,112800000,123480000,132360000,110160000,85020000,73860000,72600000,77640000,77580000,...,87120000,93540000,93300000,91500000,90780000,89700000,87600000,85740000,86880000,2765760000
1,Belgium,0,0,0,0,0,0,0,0,0,...,349680000,340080000,330120000,312720000,332040000,363120000,340620000,344520000,371940000,6240540000
2,Belgium/Luxembourg,120900000,104760000,109680000,123780000,135720000,144060000,151560000,152640000,214800000,...,0,0,0,0,0,0,0,0,0,1257900000
3,Bulgaria,16080000,12000000,10920000,23820000,27780000,30900000,16320000,17640000,20520000,...,28920000,33600000,36540000,37260000,40920000,46740000,42420000,44220000,47100000,830700000
4,Croatia,0,0,10080000,9780000,11580000,19200000,19320000,23100000,20340000,...,23460000,23040000,24780000,25200000,26220000,28740000,26340000,26760000,27960000,622080000

In [6]:
domestic_consumption.head()

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
0,Angola,Robusta/Arabica,1200000,1800000,2100000,1200000,1500000,600000,1200000,2400000,...,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,46500000
1,Bolivia (Plurinational State of),Arabica,1500000,1620000,1650000,1710000,1770000,1830000,1890000,1950000,...,2940000,3030000,3120000,3210000,3300000,3420000,3510000,3600000,3660000,75180000
2,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
3,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020
4,Ecuador,Arabica/Robusta,21000000,21000000,21000000,21000000,21000000,21000000,18000000,18000000,...,9000000,9000000,9300000,9300000,9300000,9300000,9300000,9300000,8940000,381540000

In [32]:
#With this code we can select the expecific row that we need
Belgium = np.array(coffee_import.iloc[1][1:][:-1])
Luxembourg = np.array(coffee_import.iloc[18][1:][:-1])
Bel_Lux = np.array(coffee_import.iloc[2][1:][:-1])

print(Bel_Lux)

[120900000 104760000 109680000 123780000 135720000 144060000 151560000
 152640000 214800000 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [43]:
#Creating the for loop test
new_bel = []
new_lux = []

percentage_bel_lst = []
percentage_lux_lst = []

for bel, lux in zip(Belgium, Luxembourg):
    
    
    if bel != 0 and lux !=0:
        
        bel_percentage = (bel/(bel+lux))
        percentage_bel_lst.append(bel_percentage)
        lux_percentage = (lux/(bel+lux))
        percentage_lux_lst.append(lux_percentage)

for belux in Bel_Lux: 
    if belux != 0:
        new_bel.append(int(belux*np.mean(percentage_bel_lst)))
        new_lux.append(int(belux*np.mean(percentage_lux_lst)))

0.937008651305481
This are the new data for Belgium:  [113284345, 98161026, 102771108, 115982930, 127170814, 134985466, 142013031, 143025000, 201269458]


This are the new data for Luxembourg:  [7615654, 6598973, 6908891, 7797069, 8549185, 9074533, 9546968, 9614999, 13530541]

In [69]:
coffee_import_prueba = pd.read_csv("Coffee_import.csv")

In [58]:
coffee_import_prueba.loc[0:len(coffee_import_prueba), ] =

ValueError: Must have equal len keys and value when setting with an iterable

In [70]:
coffee_import_prueba.iloc[1]

Country            Belgium
1990                     0
1991                     0
1992                     0
1993                     0
1994                     0
1995                     0
1996                     0
1997                     0
1998                     0
1999             180180000
2000             209460000
2001             192540000
2002             227520000
2003             229080000
2004             238080000
2005             243780000
2006             276300000
2007             240840000
2008             407520000
2009             354960000
2010             355440000
2011             349680000
2012             340080000
2013             330120000
2014             312720000
2015             332040000
2016             363120000
2017             340620000
2018             344520000
2019             371940000
Total_import    6240540000
Name: 1, dtype: object

In [72]:
coffee_import_prueba.iloc[1][1:] = coffee_import_prueba.iloc[1][1:].apply(lambda x: print(x))

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

/tmp/ipykernel_4772/4269861315.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coffee_import_prueba.iloc[1][1:] = coffee_import_prueba.iloc[1][1:].apply(lambda x: print(x))